#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.app {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.order-details,
.add-items {
  width: 45%; border: 2px solid #000;
  border-radius: 10px;
}

.order-details h2,
.add-items h2 {
  margin-bottom: 20px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
}

.total-price {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

button .fa-icon {
  margin-right: 10px;
}

button {
  width: 150px;
  margin: 10px 10px;
  border-radius: 14px;
  padding: 14px 20px;
  font-size: 1em;
  cursor: pointer;
  display: inline-block;
  align-items: center;

}

